body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  color: #0072BB !important;

  background-color: #ffffff;
  background-image: radial-gradient(#0073bb1c 2px, #ffffff 2px);
  background-size: 40px 40px;

  padding-top: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav-link {
  color: #0072BB !important;
}

.box {
  background: #0072BB;
  background: linear-gradient(180deg, #0072BB 85%, #00000000 100%);
}

.box-blue {
  background: #0072BB;
  background: linear-gradient(180deg, #00000000 0%, #0072BB 15%, #0072BB 85%, #00000000 100%);

}

.box4 {
  background: #0072BB;
  background: linear-gradient(180deg, #00000000 0%, #0073bb 25%);
}

.box-text {
  background-color: #f0f8ff;
}

.box-footer{
  background-color: #d8ecfd !important;
}

.text-justify{
  text-align: justify !important;
  text-justify: inter-word !important;
}

.icon {
  height: 50px;
}
.logo-client{
  max-height: 60px;
}

.emblema {
  max-height: 492px;
}

.tipografia {
  max-height: 40px;
}

.g1 {
  background: #0072BB;
  background: linear-gradient(180deg, #0072BB 0%, #0072BB 10%, rgba(255, 255, 255, 1) 100%);
}

.g2 {
  background: #0072BB;
  background: linear-gradient(0deg, #0072BB 0%, #0072BB 0%, rgba(255, 255, 255, 1) 100%);
}

.pflink {
  color: #0072BB;
  text-decoration:none
}

.hover1:hover {
  color: #FBBE04;
}

.inputb {
  width: 40%;
}

.form-cont {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-color: transparent !important;
  border-bottom-width: thin;
  border-bottom-color: black !important;
  border-radius: 0px !important;
  margin: 1px;
}

.row {
  max-width: 1366px;
}

.bd-mode-toggle {
  z-index: 1500;
}
